  body {
    font-family: Arial, sans-serif;
    background: #2b003a;
    margin: 0;
    padding: 0;
    color: #333;
  }

  p{
    color: #ffffff;
  }

  header {
    background: #20002c;
    color: #fff;
    padding: 15px;
    text-align: center;
  }

  header h1 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }

  .container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
  }

  section {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 15px;
    color: #ffffff;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .project {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
  }

  .project h3 {
    margin-top: 0;
  }

  .project p {
    font-size: 0.9rem;
    color: #555;
  }

  footer {
    background: #20002c;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
  }

  .about p{
    color:#ffffff
  }